<div id="suelo">
  <div>
    <h2>Requermientos edafológicos</h2>
  </div>
  <!--Tabla izquierda-->
  <div class="container" style="width: 50%;padding: 0">
    <table class="stylishTable" style="text-align: center;margin: 0">
      <tbody>
      <tr>
        <td colspan="2" style="font-weight: bold">Intervalo PH idóneo</td>
      </tr>
      <tr>
        <td colspan="2">5.5 - 7.8</td>
      </tr>
      <tr>
        <td>Menor que 5.5</td>
        <td>Mayor que 7.8</td>
      </tr>
      <tr>
        <td>Toxicidad por aluminio, manganeso y carencia de fósforo y magnesio</td>
        <td>Suelos altamente calcareos, carencia de hierro, manganeso y zinc</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container" style="width: 50%">
    <table class="stylishTable">
      <tr>
        <td style="font-weight: bold">Suelos idóneos</td>
      </tr>
      <tr>
        <td>
          <div style="align-items: center;margin:auto;width:200px">
            <img src="assets/images/composicionSuelosPlaceholder.png" width="200px" alt="Diagrama del composición del suelo" title="Soil_composition">
          </div>
          <p>
            Suelos fértiles, bien drenados y profundos (buena retención de agua).
          </p>
        </td>
      </tr>

    </table>
  </div>
  <br>

  <h2>Nutrientes</h2>

    <div class="container" style="width:40%">
      <table class="stylishTable">
        <tbody>
        <tr>
          <td style="font-weight: bold">Nutriente</td>
          <td style="font-weight: bold">Valor</td>
        </tr>
        <tr>
          <td>Nitrógeno</td>
          <td>V_nitrogeno</td>
        </tr>
        <tr>
          <td>Fósforo</td>
          <td>V_fosforo</td>
        </tr>
        <tr>
          <td>Potasio</td>
          <td>V_potasio</td>
        </tr>

        <tr>
          <td>Calcio</td>
          <td>V_calcio</td>
        </tr>
        <tr>
          <td>Magnesio</td>
          <td>V_magnesio</td>
        </tr>
        <tr>
          <td>Azufre</td>
          <td>V_azufre</td>
        </tr>
        <tr>
          <td>Cobre</td>
          <td>V_cobre</td>
        </tr>
        <tr>
          <td>Zinc</td>
          <td>V_zinc</td>
        </tr>
        <tr>
          <td>Boro</td>
          <td>V_boro</td>
        </tr>
        <tr>
          <td>Hierro</td>
          <td>V_hierro</td>
        </tr>
        <tr>
          <td>Manganeso</td>
          <td>V_manganeso</td>
        </tr>
        <tr>
          <td>Molibdeno</td>
          <td>V_molibdeno</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="container" style="border:1px solid black; width:60%; align: right">
      <h1>Fósforo</h1>
      <p>
        Lorem ipsum dolor sit amet. Et consectetur voluptates eum voluptatem beatae ut impedit deleniti et laboriosam
        quasi sed voluptatem voluptatum ea ullam iste et temporibus provident! Nam suscipit voluptatibus et nemo esse
      </p>
      <span style="font-size: 15px">(Da clic al recuadro para cerrar)</span>
    </div>

  </div>

